/* Boiler Plate */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Part */

.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: #9e1121;
    padding-bottom: 1%;
}

.header div{
    flex-basis: 20%;
    text-align: center;
    user-select: none;
}

.header div h1{
    margin-top: -3%;
    padding-bottom: 3%;
    color: #fff;
    font-family: "Playwrite CU";
}

.header div img{
    width: 6rem;
}

.header ul{
    margin-right: 5%;
    list-style: none;
    display: flex;
    flex-basis: 60%;
}
.header ul li{
    padding: 1% 4%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    user-select: none;
}
.header ul li:hover{
    background: #dddddd;
}

.header ul li:hover a{
    color: #9e1121;
}

.header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

/* Footer Part */

.footer{
    background: #9e1121;
    padding-top: 2%;
}
.box{
    display: flex;
    justify-content: center;
    gap: 7%;
}
.wrapper h1{
    color: #f2ffff;
    padding: 2% 0;
}
.wrapper p{
    color: #f2ffff;
}
.wrapper:nth-child(1) h1{
    font-family: "Playwrite CU";
    user-select: none;
}
.wrapper ul{
    list-style: none;
    margin-bottom: 5%;
}
.wrapper ul li{
    padding: 3% 1%;
    font-weight: bold;
    color: #f2ffff;
}
.ending{
    padding: 1% 2%;
    width: 100%;
    background: #333333;
    display: flex;
    justify-content: center;
}
.ending p{
    color: #f2ffff;
}

/* Blood Listing */

.blood-listing-main{
    padding: 3%;
    flex: 1;
}

.bar{
    width: 100%;
    background: #9e1121;
    padding: 1%;
    color: #f2ffff;
}

.listing{
    background: #fff;
    display: flex;
    padding: 1.5rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;
    box-shadow: 0 20px 50px rgba(158, 17, 33, 0.7);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.listing:hover{
    scale: 1.2;
}

.listing i{
    font-size: 4rem;
    color: #9e1121;
}
.listing ul{
    list-style: none;
}
.listing ul li{
    padding-block: 0.25rem;
}

.blood-listing-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
